<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-model结合radio的使用</title>
</head>
<body>
    <div id="app">
        <label for="man">
            <input type="radio" id="man" name='sex' value='男' v-model='sex'>男
        </label>
        <label for="woman">
            <input type="radio" id="woman" name='sex' value="女" v-model='sex'>女
        </label>
        <h2>{{sex}}</h2>
    </div>
    <script src="../vueJs/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                sex: '男'
            }
        })
    </script>
</body>
</html>